{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook - {{ conference }}{% endblock %}

{% block body %}
    <section class="container align-items-center justify-content-center mt-2 mt-md-3 mt-xl-5">
        <h2 class="">{{ conference }} Conference</h2>

        {% if comments|length > 0 %}
            <div>There are {{ comments|length }} comments.</div>

            {% for comment in comments %}
                {% if comment.photofilename %}
                    <img src="{{ asset('uploads/photos/' ~ comment.photofilename) }}" style="max-width: 200px"  alt="uploaded photos"/>
                {% endif %}

                <p>{{ comment.text }}</p>
            {% endfor %}

            {% if previous >= 0 %}
                <a href="{{ path('conference', {slug: conference.slug, offset: previous}) }}">Previous</a>
            {% endif %}

            {% if next < comments|length %}
                <a href="{{ path('conference', {slug: conference.slug, offset:previous }) }}">Next</a>
            {% endif %}
        {% else %}
            <div>No comments have been posted yet for this conference.</div>
        {% endif %}
    </section>
{% endblock %}